/* 
List of CSS Selectors
Element Selector - HTML Tag
Class Selector - Selects all elements with a specific class attribute, defined using a period (.).
ID Selector - Selects a single element with a unique id attribute, defined using a hash (#).
Universal Selector - Selects all elements on a page, using an asterisk (*).
Attribute Selector - Selects elements based on the presence or value of their attributes. FOR FORMS OR LINKS
Group Selector - Groups multiple selectors so they can share the same style rules..
Pseudo-class Selector - Selects elements in a specific state, such as when hovered or focused. USER INTERACTIONS
Pseudo element Selector - Selects and styles specific parts of an element, such as the first letter or line. FOR ADVANCE TYPO AND DECORATIVE
 */

 * {
    box-sizing: border-box; /* includes padding and border in element's total width and height */
    margin: 0;
    padding: 0;
}

h1,h2,label,td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} 


body {
    background-color: rosybrown;
}

#QuizPract {
    color: rgb(0, 255, 255);
}

table, td, th {
    border: 1px solid red; /* To add border */
    border-collapse: collapse;  /* collapses border */
     padding: 10px; /* add spacing on text */
}

table {
    text-align: center;
    border-spacing: 5px;
    background-color: bisque;
}

.HTML_Forms_Card {
    background-color: aqua;
    padding: 10px;
    text-align: center;
    max-width: 400px;
    margin: 20px auto   ;
    border-radius: 10px;
}

.HTML_Forms_Card form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;;
}

.HTML_Forms_Card label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(22, 8, 8);
    font-size: 14px;
}

.HTML_Forms_Card input[type="text"],
.HTML_Forms_Card input[type="email"],
.HTML_Forms_Card input[type="password"],
.HTML_Forms_Card input[type="number"],
.HTML_Forms_Card input[type="date"],
.HTML_Forms_Card input[type="month"],
.HTML_Forms_Card select {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

.HTML_Forms_Card input[type="submit"] {
        border-radius: 8px;
        padding: 15px 30px;

}

.card input[type="submit"]:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}


h2 {
    text-align: center;
}


.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #4b79b4; 
    color: rgb(156, 55, 55);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 100;
}

.footer p {
    margin: 0;
    font-weight: 500;
}